---
const objectives = [
  {
    number: "1",
    img: "../../wizard/2.png",
    text: "Accroître la Fidélité de vos clients",
  },
  {
    number: "2",
    img: "../../wizard/loupe.png",
    text: "Améliorer La Visibilité De La Marque",
  },
  {
    number: "3",
    img: "../../wizard/3.png",
    text: "Attirer de nouveaux clients",
  },
  {
    number: "4",
    img: "../../wizard/4.png",
    text: "Améliorer le Référencement SEO",
  },
  {
    number: "5",
    img: "../../wizard/5.png",
    text: "Meilleur Engagement sur réseaux sociaux",
  },
  {
    number: "6",
    img: "../../wizard/6.png",
    text: "Augmenter le Trafic sur le Site Web",
  },
];
---

<style>
  .PillList-item {
    cursor: pointer;
    /* display: inline-block; */
    /* float: left; */
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 12px 12px 0;
    text-transform: capitalize;
  }

  .PillList-item input[type="checkbox"] {
    display: none;
  }
  .PillList-item input[type="checkbox"]:checked + .PillList-label {
    background-color: #ffbff9;
    border: 2px solid #ffbff9;
    color: #14171f;
    /* padding-right: 16px;
    padding-left: 16px; */
  }
  .PillList-label {
    border: 2px solid #fff;

    color: #fff;
    display: block;
    padding: 14px 28px;
    text-decoration: none;
  }
  .PillList-item
    input[type="checkbox"]:checked
    + .PillList-label
    .Icon--checkLight {
    display: inline-block;
  }
  .PillList-item
    input[type="checkbox"]:checked
    + .PillList-label
    .Icon--addLight,
  .PillList-label .Icon--checkLight,
  .PillList-children {
    display: none;
  }
  .PillList-label .Icon {
    width: 12px;
    height: 12px;
    margin: 0 0 0 12px;
  }
  .Icon--smallest {
    font-size: 12px;
    line-height: 12px;
  }
  .Icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
  }
</style>

<div class="">
  <div class="px-4">
    <h1 class="text-white font-bold text-3xl mb-4">Objectifs</h1>
    <p class="opacity-50 text-white mb-12 text-xl">
      Quels sont les objectifs actuels de votre marque ?
    </p>
  </div>

  <div class="">
    <div class="" id="objectives-container">
      {
        objectives.map((item, index) => (
          <label class="PillList-item">
            <input type="checkbox" name="feature" value={item.number} />
            <span class="PillList-label rounded-full font-semibold">
              <div class="flex justify-between">
                <>
                  <div class="my-auto text-4xl w-2/12">
                    <img src={item.img} class="  shrink-0" />
                  </div>
                  <p class="text-lg my-auto pl-6 font-bold w-10/12">
                    {item.text}
                  </p>
                </>
              </div>
            </span>
          </label>
        ))
      }
    </div>
  </div>
</div>
