---
import { Icon } from "astro-icon";

const now = new Date();
const day = now.getDay(); // returns a number representing the day of the week, starting with 0 for Sunday
const hours = now.getHours();
const minutes = now.getMinutes();

import moment from "moment-timezone";
const timeMorocco = moment()
  .tz("Morocco/Casablanca")
  .utcOffset("+01:00")
  .format("h:mm A");
---

<style>
  @keyframes spina {
    100% {
      transform: rotate(360deg);
    }
  }

  .spin {
    animation: spina 10000ms linear infinite;
    animation-direction: reverse;
  }

  .parent .child {
    background: black; /* Set the initial background color */
    transition: background 0.2s; /* Apply transition to the background property */
  }

  .parent:hover .child {
    background: #6a57e3;
    transition: 0.2s;
  }
  .parent .arrow {
    transform: rotate(0deg);
    transition: transform 0.2s;
  }
  .parent:hover .arrow {
    transform: rotate(-45deg);
  }

  #gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #ffadcd;
    --gradient-color-2: #d9b7ff;
    --gradient-color-3: #dffff2;
    --gradient-color-4: #ffffff;
  }
  @media screen and (max-width: 800px) {
    #gradient-canvas {
      width: 100%;
      height: 100%;
      --gradient-color-1: #ffadcd;
      --gradient-color-2: #d9b7ff;
      --gradient-color-3: #ffffff;
      --gradient-color-4: #ffffff;
    }
  }

  .video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 100px;
  }

  @media screen and (max-width: 800px) {
    .video {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      padding: 0px;
    }
  }

  .cta {
    top: auto;
    bottom: 25%;
    left: 60%;
    z-index: 3000;
  }

  @media screen and (max-width: 800px) {
    .cta {
      position: absolute;
      left: 45%;
      top: 42%;
      transform: translate(-50%, -50%);
      transform-origin: center center;
      height: 200px;
      width: 200px;
      transform: scale(0.8);
    }
  }

  .content {
    text-align: center;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  @media screen and (max-width: 800px) {
    .content-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 92%;
      text-align: center;
    }
  }

  .very-specific-design {
    width: 600px;
    height: 400px;
    padding: 50px;
    text-align: center;
    background: white;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
  }

  .scaleable-wrapper {
    padding: 20px;
    resize: both;
    position: relative;
    background: #666;
    height: 400px;
  }

  .ui-resizable-se {
    width: 10px;
    height: 10px;
    background: orange;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bigred {
    color: red;
    font-size: 5rem;
  }
</style>

<section
  class="h-screen bg-no-repeat bg-cover overflow-x-hidden overflow-y-hidden"
>
  <canvas
    id="gradient-canvas"
    data-transition-in
    class="z-10 absolute"
    style="mix-blend-mode: multiply;"></canvas>

  <div
    class="content-container -pt-10 flex md:hidden"
    id="scaleable-wrapper"
    style="transform: scale(.8);"
  >
    <div class="content" id="very-specific-design">
      <h1 class="uppercase text-6xl ml-20 tracking-tight">Design &</h1>
      <h1 class="uppercase text-6xl -ml-28 tracking-tight">code</h1>

      <img
        class="max-w-[300px] md:max-w-[700px] -mb-6 -mt-10 z-10 mx-auto"
        src="../../logo-4.png"
        alt="Alternative Logo Arlibera"
      />

      <h1 class="uppercase text-6xl -ml-32 tracking-tight">pour</h1>
      <h1 class="uppercase text-6xl tracking-tight">solutions</h1>
      <h1 class="uppercase text-6xl ml-10 tracking-tight">digitales</h1>
    </div>
  </div>

  <a
    href=""
    title="Réserver un consultation - Arlibera"
    onclick="Calendly.initPopupWidget({url: 'https://calendly.com/arlibera/30min'});return false;"
  >
    <div
      class="parent absolute cursor-pointer z-5 flex items-center justify-center cta visible md:invisible"
    >
      <img
        src="../../consultation-arlibera-2.svg"
        class="child h-36 z-10 rounded-full p-3 spin cursor-pointer"
        alt="Arlibera Consultation"
      />
      <Icon
        name="teenyicons:arrow-right-outline"
        class="h-10 text-white absolute z-20 arrow"
      />
    </div></a
  >

  <div class="absolute bottom-0 p-10 flex md:hidden justify-between w-full">
    <p class="text-xl">
      <span class="font-bold" id="time-container">Agence Creative</span><br />
      <span class="flex items-center"
        >basée au<img src="../../ma.svg" alt="Drapeau Maroc" class="h-5 mx-2" />
         Maroc</span
      >
    </p>
    <Icon
      name="system-uicons:arrow-down"
      class="h-10 text-black arrow my-auto"
    />
  </div>

  <div class="relative md:max-w-screen-2xl mx-auto video">
    <a
      href=""
      title="Réserver un consultation - Arlibera"
      onclick="Calendly.initPopupWidget({url: 'https://calendly.com/arlibera/30min'});return false;"
    >
      <div
        class="parent absolute cursor-pointer z-50 flex items-center justify-center cta md:visible invisible"
      >
        <img
          src="../../consultation-arlibera-2.svg"
          class="child h-36 z-10 rounded-full p-3 spin cursor-pointer"
          alt="Arlibera Consultation"
        />
        <Icon
          name="teenyicons:arrow-right-outline"
          class="h-10 text-white absolute z-20 arrow"
        />
      </div></a
    >
    <video
      width="100%"
      height="100%"
      autoplay="autoplay"
      loop="loop"
      muted="muted"
      playsinline="playsinline"
      class="invisible md:visible wow animate__animated scale-in-center"
    >
      <source src="../../WhiteBackground.mp4" type="video/mp4" class="" />
    </video>
  </div>
  <div
    class="justify-between items-center md:px-20 pb-10 hidden md:flex absolute bottom-0 max-w-[1680px] mx-auto left-0 right-0 wow animate__animated fade-in-bottom"
    style="    animation-delay: 0.3s;animation-duration:1s"
  >
    <Icon name="ph:diamond-thin" class="h-6" />

    <p class="text-xl">
      <span class="font-bold" id="time-container">Agence Creative</span><br />
      <span class="flex items-center"
        >basée au<img src="../../ma.svg" alt="Drapeau Maroc" class="h-5 mx-2" />
         Maroc</span
      >
    </p>
    <p class="text-xl">
      <span class="font-bold">Branding & Développement</span><br />des sites et
      applications Web
    </p>
    <p class="text-xl">
      <span class="font-bold" id="time-container">{timeMorocco}</span><br />
      <span class="flex items-center"> Casablanca</span>
    </p>

    <Icon name="teenyicons:arrow-down-outline" class="h-10" />
  </div>
</section>

<script>
  import { Gradient } from "../styles/Gradient.js";

  // Create your instance
  const gradient = new Gradient();

  // Call `initGradient` with the selector to your canvas
  gradient.initGradient("#gradient-canvas");
</script>

<script is:inline>
  var $el = $("#very-specific-design");
  var elHeight = $el.outerHeight();
  var elWidth = $el.outerWidth();

  var $wrapper = $("#scaleable-wrapper");

  $wrapper.resizable({
    resize: doResize,
  });

  function doResize(event, ui) {
    var scale, origin;

    scale = Math.min(ui.size.width / elWidth, ui.size.height / elHeight);

    $el.css({
      transform: "translate(-50%, -50%) " + "scale(" + scale + ")",
    });
  }

  var starterData = {
    size: {
      width: $wrapper.width(),
      height: $wrapper.height(),
    },
  };
  doResize(null, starterData);
</script>
