---
import { Icon } from "astro-icon";
import { Img } from "astro-imagetools/components";
---

<section class="section" id="projets">
  <div class="section-container">
    <div class="md:grid md:grid-cols-2 md:gap-20 mx-auto block">
      <div class="wow animate__animated fade-in-bottom">
        <img
          class="object-cover md:h-[680px] h-[500px] md:object-[right_-215px_top_0px]"
          src="../../projects/mockup-zemium.webp"
          alt="Zemium - Arlibera"
          height="500"
          loading="lazy"
          decoding="async"
        />
        <div class="mt-8 md:ml-8">
          <h2 class="text-2xl md:text-4xl font-bold">Zemium</h2>
          <!-- <p class='text-xl text-gray-600 mt-2'>
            Designing and building Slack’s interactive demo experience
          </p>
 -->
          <div
            class="flex text-gray-400 mt-2 md:mt-4 text-lg md:text-2xl flex-wrap leading-relaxed"
          >
            <p>Branding</p>
            <p class="mx-1">•</p><p>Web Design</p>
            <p class="mx-1">•</p>
            <p>UI/UX</p>
            <p class="mx-1">•</p>
            <p>Développement Web</p>
            <p class="mx-1">•</p>
            <p>CMS</p>
          </div>
        </div>
      </div>

      <div
        class="md:mt-40 mt-20 wow animate__animated fade-in-bottom"
        data-wow-offset="250"
      >
        <img
          class="object-cover md:h-[680px] h-[500px] md:object-[right_-215px_top_0px] object-[right_-185px_top_0px]"
          src="../../projects/mockup-folklore.webp"
          alt="Festival International du Folklore - Arlibera"
          height="500"
          loading="lazy"
          decoding="async"
        />
        <div class="mt-8 md:ml-8">
          <h2 class="text-2xl md:text-4xl font-bold">Folklore 24'</h2>
          <!-- <p class='text-xl text-gray-600 mt-2'>
            Designing and building Slack’s interactive demo experience
          </p>
 -->
          <div
            class="flex text-gray-400 mt-2 md:mt-4 text-lg md:text-2xl flex-wrap leading-relaxed"
          >
            <p>Branding</p><p class="mx-1">•</p>
            <p>UI/UX</p>
            <p class="mx-1">•</p><p>Web Design</p>
          </div>
        </div>
      </div>

      <div class="md:-mt-40 pt-20 wow animate__animated fade-in-bottom">
        <img
          class="object-cover md:h-[680px] h-[500px]"
          src="../../projects/mockup-m3ak.webp"
          alt="Platforme m3ak - Arlibera"
          height="500"
          loading="lazy"
          decoding="async"
        />
        <div class="mt-8 md:ml-8">
          <h2 class="text-2xl md:text-4xl font-bold">Platforme m3ak</h2>
          <!-- <p class='text-xl text-gray-600 mt-2'>
            Designing and building Slack’s interactive demo experience
          </p>
 -->
          <div
            class="flex text-gray-400 mt-2 md:mt-4 text-lg md:text-2xl flex-wrap leading-relaxed"
          >
            <p>Branding</p><p class="mx-1">•</p>
            <p>UI/UX</p>
            <p class="mx-1">•</p><p>Web Design</p>
          </div>
        </div>
      </div>

      <div class="md:-mt-0 pt-20 wow animate__animated fade-in-bottom">
        <img
          class="object-cover md:h-[680px] h-[500px]"
          src="../../projects/mockup-cnss-1.webp"
          alt="CNSS - Caisse Nationale de Sécurité Sociale - Arlibera"
          height="500"
          loading="lazy"
          decoding="async"
        />
        <div class="mt-8 md:ml-8">
          <h2 class="text-2xl md:text-4xl font-bold">CNSS</h2>
          <!-- <p class='text-xl text-gray-600 mt-2'>
            Designing and building Slack’s interactive demo experience
          </p>
 -->
          <div
            class="flex text-gray-400 mt-2 md:mt-4 text-lg md:text-2xl flex-wrap leading-relaxed"
          >
            <p>Web Design</p><p class="mx-1">•</p>
            <p>UI/UX</p>
          </div>
        </div>
      </div>

      <div class="col-span-2 justify-self-center md:my-0 my-10 text-center">
        <button
          class="bg-transparent hover:bg-blue-500 text-dark-a font-semibold hover:text-white py-3 px-6 md:px-12 border border-a-dark/50 hover:border-transparent rounded-full flex items-center justify-center h-48 w-48 mx-auto opacity-50"
        >
          <p class="">Études de cas bientôt disponibles</p>
        </button>
      </div>
    </div>
  </div>
</section>
