---
import "@fontsource-variable/manrope";

import "../../src/styles/global.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import { Icon } from "astro-icon";
---

<div class="overflow-x-hidden sm:overflow-visible">
  <slot />
</div>
