---
import "@fontsource-variable/manrope";

import "../../src/styles/global.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<div>
  <Navigation />
  <slot />
  <Footer />
</div>
